@font-face{
    font-family: coolvetica;
    src: url("coolvetica.ttf");
}

@font-face{
    font-family : timer;
    src : url("Square.ttf");
}

@font-face{
    font-family : name3;
    src : url("name3");
}

*{
    margin : 0px;
    padding: 0px;
}

body{
    background-image: url("back2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #121212;
}

#title{
    font-family: coolvetica;
    position: absolute;
    top: 10px;
    left: 620px;
    font-size: 70px;
}

#slides{
    background-color: #898989;
    opacity: 0.9;
    position: absolute;
    top: 90px;
    left: 300px;
    height: 450px;
    width: 750px;
    font-family: coolvetica;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}

.option1{
    padding: 20px;
    margin: 200px;
}

.option2{
    padding: 20px;
    margin: 200px;
}

.option3{
    padding: 20px;
    margin: 0px;
}

.option4{
    padding: 20px;
    margin: 225px;
}

#nextbutton{
    position: fixed;
    top: 300px;
    left: 950px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #000000;
}

button {
    text-decoration: none;
}

#timer {
    font-family: timer;
    font-size: 100px;
}

.question{
    font-size: 70px;
    text-align: center;
}

#option1, #option3{
    text-align: left;
    padding: 10px;
    line-height: 30px;
}

#option2, #option4{
    text-align: right;
    padding: 10px;
    line-height: 10px;
    margin: 200px;
}

#score {
    position: absolute;
    top: 575px;
    left: 420px;
    color: blue;
    font-family: timer;
    font-size: 70px;
}

#team1, #team2, #team3, #team4, #team5 {
    text-align: center;
    padding: 10px;
}