@font-face{
    font-family: coolvetica;
    src: url("coolvetica.ttf");
}

@font-face{
    font-family : timer;
    src : url("Inconsolata.otf");
}

@font-face{
    font-family : score;
    src : url("Champagne & Limousines Bold.ttf");
}

@font-face{
    font-family : segoe;;
    src : url("segoeuib.ttf");
}
*{
    margin : 0px;
    padding: 0px;
}

body{
    background-image: url("back3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #121212;
}

#title{
    font-family: coolvetica;
    position: absolute;
    top: 10px;
    left: 475px;
    font-size: 70px;
    color: #f8da1e;
    opacity: 0.8;
}

#slides{
    background-color: #E0E0E0;
    opacity: 0.5;
    position: absolute;
    top: 90px;
    left: 300px;
    height: 450px;
    width: 750px;
    font-family: coolvetica;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 30px;
}

/*
.option1{
    padding: 20px;
}

.option2{
    padding: 20px;
}

.option3{
    padding: 20px;
}

.option4{
    padding: 20px;
}
*/

#nextbutton:hover{
    background-color: red;
    box-shadow: 0px 0px 15px red;

}

#nextbutton{
    position: fixed;
    top: 275px;
    left: 1100px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    font-size: 25px;
    background-color: ;
    box-shadow: 0px 0px 10px #888888;
    border: none;
}

button {
    text-decoration: none;
}

.question{
    font-size: 70px;
    text-align: center;
    box-shadow: 0px 0px 20px #888888;
}
/*
#option1, #option3{
    text-align: left;
    padding: 10px;
    line-height: 30px;
}

#option2, #option4{
    text-align: right;
    padding: 10px;
    line-height: 10px;
    margin: 200px;
}
*/
/*
#score {
    position: absolute;
    top: 575px;
    left: 420px;
    color: blue;
    font-family: timer;
    font-size: 70px;
    background-color: #f9ceec;
    opacity: 0.8;
    color: #3e0050;
}
*/
.option{
    font-size: 30px;
    background-color: #E6E6E6;
    font-weight: 900;
}


.optionbutton:hover{
    background-color: red;
}

.optionbutton{
    font-size: 30px;
    font-family: coolvetica;
    width: 600px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #888888;
}


#timer{
    font-family: timer;
    position: absolute;
    top: 200px;
    left: 50px;
    height: 200px;
    width: 200px;
    font-size: 150px;
    border-radius: 100px;
    text-align: center;
    background-color: #E0E0E0;
    box-shadow: 0px 0px 20px #888888;
    opacity: 0.8;
    color: gray;
}

#roundone:hover, #roundtwo:hover, #roundthree:hover, #random:hover, #stoprandom:hover{
    background-color: #E6E6E6;
    border-radius: 10px;
    color:#FA5882;
    box-shadow: 0px 0px 10px;
    height: 30px;
    width: 150px;
    font-family: segoe;
}

#roundone{
    font-size: 25px;
    position: absolute;
    background-color: white;
    top: 20px;
    left: 50px;
    outline: none;
    border: none;
    font-family: segoe;
    color: lightblue;
}

#roundtwo{
    display: block;
    font-size: 25px;
    position: absolute;
    background-color: white;
    top: 60px;
    left: 50px;
    outline: none;
    border: none;
    color: lightblue;
    font-family: segoe;

}

#roundthree{
    font-size: 25px;
    position: absolute;
    background-color: white;
    top: 100px;
    left: 50px;
    outline: none;
    border: none;
    color: lightblue;
    font-family: segoe;
}


#team1score{
    position: absolute;
    top: 550px;
    left: 200px;
    padding: 5px;
    height: 110px;
    width: 130px;
    text-align: center;
    font-family: timer;
    font-size: 70px;
    background-color: #E2FF5B;
    opacity: 0.8;
    color: #3e0050;
    border-radius: 10px;
}


#team1{
    position: absolute;
    font-size: 25px;
    top: 635px;
    left: 226px;
    color: #2F1586;
    font-family: segoe;
}

#team2score{
    position: absolute;
    top: 550px;
    left: 400px;
    padding: 5px;
    height: 110px;
    width: 130px;
    text-align: center;
    font-family: timer;
    font-size: 70px;
    background-color: #E2FF5B;
    opacity: 0.8;
    color: #3e0050;
    border-radius: 10px;
}

#team2{
    position: absolute;
    font-size: 25px;
    top: 635px;
    left: 426px;
    color: #2F1586;
    font-family: segoe;
}

#team3score{
    position: absolute;
    top: 550px;
    left: 600px;
    padding: 5px;
    height: 110px;
    width: 130px;
    text-align: center;
    font-family: timer;
    font-size: 70px;
    background-color: #E2FF5B;
    opacity: 0.8;
    color: #3e0050;
    border-radius: 10px;
}


#team3{
    position: absolute;
    font-size: 25px;
    top: 635px;
    left: 626px;
    color: #2F1586;
    font-family: segoe;
}

#team4score{
    position: absolute;
    top: 550px;
    left: 800px;
    padding: 5px;
    height: 110px;
    width: 130px;
    text-align: center;
    font-family: timer;
    font-size: 70px;
    background-color: #E2FF5B;
    opacity: 0.8;
    color: #3e0050;
    border-radius: 10px;
}

#team4{
    position: absolute;
    font-size: 25px;
    top: 635px;
    left: 826px;
    font-family: segoe;
    color: #2F1586;
}

#team5score{
    position: absolute;
    top: 550px;
    left: 1000px;
    padding: 5px;
    height: 110px;
    width: 130px;
    text-align: center;
    font-family: timer;
    font-size: 70px;
    background-color: #E2FF5B;
    opacity: 0.8;
    color: #3e0050;
    border-radius: 10px;
}


#team5{
    position: absolute;
    font-size: 25px;
    top: 635px;
    left: 1026px;
    color: #2F1586;
    font-family: segoe;
}

#presentTeam{
    position: absolute;
    top: 420px;
    left: 1100px;
    font-size: 35px;
    color: #d26bb9;
    font-weight: 750;
    font-family: segoe;
}

#random{
    position: absolute;
    top : 20px;
    left: 1150px;
    font-size: 25px;
    background-color: white;
    outline: none;
    border: none;
    color: lightblue;
    font-family: segoe;
}


#randomnumber{
    position: absolute;
    top : 20px;
    left: 1150px;
    font-size: 25px;
    background-color: white;
    outline: none;
    border: none;
    color: lightblue;
}

#stoprandom{
    position: absolute;
    top: 60px;
    left: 1150px;
    font-size: 25px;
    background-color: white;
    outline: none;
    border: none;
    color: lightblue;
    font-family: segoe;
}

#printscores{

}
