#allimages{
    position: absolute;
    top: 50px;
    left: 200px;
    height: 600px;
    width: 1000px;
    background-color: ;
}

@font-face{
    font-family : timer;
    src : url("Inconsolata.otf");
}

#image1{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 300px;
    width: 500px;
}

#image2{
    position: relative;
    top: 0px;
    left: 500px;
    height: 300px;
    width: 500px;
}

#image3{
    position: relative;
    top: 0px;
    left: 0px;
    height: 300px;
    width: 500px;
}

#image4{
    position: relative;
    top: -300px;
    left: 500px;
    height: 300px;
    width: 500px;
}

html{
    background-image: url("back3.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.selectteam{
    font-size: 25px;
    background-color: white;
    outline: none;
    border: none;
    color: lightblue;
}

#team1, #team2, #team3, #team4, #team5{}

#inc{
    position: absolute;
    top: 100px;
    left: 1100px;
    font-size: 50px;
    background-color: #f4b5f0;
    outline: none;
    border: none;
    color: #5d285a;
    border-radius: 32px;
    font-family: timer;
}

#dec{
    position: absolute;
    top: 200px;
    left: 1200px;
    font-size: 50px;
    background-color: #f4b5f0;
    border: none;
    color: #5d285a;
    border-radius: 32px;
    font-family: timer;
}

#print{
    position: absolute;
    top: 500px;
    left: 1200px;
    font-style: timer;
    height: 25px;
    width: 75px;
}
